/* ======== GLOBAL ======== */
@import url(https://fonts.googleapis.com/css?family=Space+Mono);

:global(body) {
    --tw-gradient-to: #3b82f6;
    --tw-gradient-from: #06b6d4;
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
    background-image: linear-gradient(to right, var(--tw-gradient-stops));
    font-family: 'Space Mono', sans-serif;
}

.center{
    margin: auto;
    width: 50%;
}

.button {
    width: 100px;
    height: 36px;
    border: none;
    background: #00000028;
    text-align: center;
    color: #ffffff9a;
    font-family: 'Space Mono', sans-serif;
    cursor: pointer;
}

.content-container{
    background-color: rgba(0, 0, 0, 0.122);
    max-width: 100%;
    margin: 50px;
}

form{
    text-align: center;
    margin-left: -120px;

    .search{
        margin-left: 100px;
        display: inline-block;
    }

    .searchTerm {
        background: #00000057;
        padding: 15px;
        border-radius: 5px;
        color: white;
        border-width: 0.7em;
        border-color: #ffffff0d;
        font-family: 'Space Mono', sans-serif;
    }

    .searchButton {
        margin-left: -125px;
    }

    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: rgba(255, 255, 255, 0.542);
    }

    input:focus, select:focus, textarea:focus, button:focus {
        outline: none;
    }
}

/* ======== HEADER ======== */
header {

    h1, p {
    position: absolute;
    text-align: center;
    width: 100%;
    margin: 0;
    }
}

.logo-img {
    max-width: 50px;
    width: 50px;
    height: 50px;
    background-size: 50px;
}


/* ======== SEARCH BAR ======== */

form {
    .contract-search{
        min-width: 500px;
        margin-top: 100px;
    }
}

/* ======== ABI DUMP ======== */

.abi-dump {
    overflow: scroll;
    max-height: 200px;
}

/* ======== EXAMPLES TEXT ======== */
.examples-text{
    margin-top: 50px;
    margin-bottom: 50px;
}


/* ======== CONTRACT INFO CONTAINER ======== */
