
.center{
    margin: auto;
    width: 50%;
}

.button {
    width: 100px;
    height: 36px;
    border: none;
    background: #00000028;
    text-align: center;
    color: #ffffff9a;
    font-family: 'Space Mono', sans-serif;
    cursor: pointer;
}

.content-container{
    background-color: rgba(0, 0, 0, 0.122);
    max-width: 100%;
    margin: 50px;
}

.contract-hero {
    margin: auto;
    min-width: 700px;
    display: flex;
}

.nft-img {
    max-width: 250px;
    width: 250px;
    height: 250px;
    background-size: 250px;
}

form {

    .search{
        display: inline-block;
    }

    .searchTerm {
        background: #00000057;
        padding: 15px;
        border-radius: 5px;
        color: white;
        border-width: 0.7em;
        border-color: #ffffff0d;
        font-family: 'Space Mono', sans-serif;
    }

    .searchButton {
        margin-left: -125px;
    }

    .nft-search{
        min-width: 350px;
        margin-left: 20px;
        margin-top: 20px;
    }

    p {
        text-align: left;
        margin-left: 20px;
        margin-right: 20px;
    }

    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: rgba(255, 255, 255, 0.542);
    }

    input:focus, select:focus, textarea:focus, button:focus {
        outline: none;
    }
}